//Для того, чтобы не создавался еще один css файл(в данном случае
//создастся файл nullstyle.css в папке css, нужно задавать имя подключаемым файлам
//с "_" впереди, а импортировать без расширения
//Пример: @import "_nullstyle"
// Файл обнуляющих стилей
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@300;400;600&display=swap");
@import "_nullstyle";

// Не смог сделать иконки и линию через псевдоэлементы, спросить как

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Outfit", sans-serif;
}

.wrapper {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: hsl(217, 54%, 11%);
}
.nftblock {
	max-width: 390px;
	background: hsl(216, 50%, 16%);
	padding: 28px;
	border-radius: 15px;
}

.mainimage {
	margin: 0px 0px 30px 0px;
}

.mainimage img {
	max-width: 100%;
	border-radius: 10px;
}

.lable {
	color: #fff;
	font-size: 24px;
	margin: 0px 0px 26px 0px;
	letter-spacing: 0.7px;
}
.text {
	color: hsl(215, 51%, 70%);
	font-size: 20px;
	line-height: 28px;
	margin: 0px 0px 30px 0px;
}
.data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 0px 30px 0px;
}

.info {
	display: flex;
	align-items: center;
	font-size: 18px;
}
.image {
	margin: 0px 8px 0px 0px;
}
.inner_text {
	color: hsl(215, 51%, 70%);
}

.inner_text__balance {
	color: hsl(178, 100%, 50%);
}

.line {
	border-bottom: 1px solid #2f4159;
	margin: 20px 0px 20px 0px;
}

.creator_image {
	width: 34px;
	height: 34px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.creator_image img {
	width: 100%;
	height: 100%;
}

.creator__link {
	color: #fff;
}

.attribution {
	text-align: center;
	font-size: 16px;
}
